.listado-completo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grupo-experiencia {
  margin-top: 1.5rem;
  margin-left: 5rem;
}

@media (max-width: 700px) {
  .grupo-experiencia {
    margin-left: 3rem;
  }
}
