.certificado-individual {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.nombre-certificado {
  font-size: 24px;
  padding-top: 1vh;
}

.descripcion-certificado {
  font-size: 16px;
  font-style: italic;
}

.foto-certificado {
  width: 50px;
  height: 60px;
  align-self: flex-start;
  padding-right: 5px;
  padding-top: 14px;
}

@media (max-width: 1040px) {
  .certificado-individual {
    padding-top: 1vh;
  }
}
