.certificado {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1vh;
}

@media (max-width: 1040px) {
  .certificado {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 30%;
  }
}

@media (max-width: 590px) {
  .certificado {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 10%;
  }
}
