
body{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

/* Header */

header {
  padding: 10px;
  border-bottom: black 1px solid;
  margin-bottom: 1rem;
}

.hd-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}


/* Footer */

footer {
  text-align: center;
  border-top: 2px solid;
  padding: 1rem;
}

footer p {
  margin: 0;
}

.ft1-p1 {
  font-size: 14px;
}

.ft1-p2 {
  font-size: 12px;
}

.ft1-p3 {
  font-size: 10px;
}

.ft-img figure {
  width: 70px;
  margin: 0 auto;
}


@media (min-width:768px) {
  
}