@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.frase {
  font-style: oblique;
}

h2 {
  margin-top: 1rem;
  margin-left: 3rem;
  border-bottom: 3px solid black;
}

#sobre-mi {
  width: 160px;
}

#Tecnologias {
  width: 160px;
}

#Certificados {
  width: 160px;
  padding-top: 15px;
}

#Contactame {
  font-size: 30px;
  width: 250px;
  margin-top: 3rem;
}

.contacto-centrado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bt-contacto {
  display: flex;
  margin-top: 1.3rem !important;
  align-items: center;
}

.link-centrado {
  width: fit-content;
  justify-content: center;
  margin-left: 20px;
}

@media (max-width="590px") {
  #Contactame {
    margin-left: 1%;
  }

  .link-centrado {
    width: fit-content;
    justify-content: center;
    margin-left: 33%;
  }
}
