.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 60.5vh;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.elemento-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutMe-text {
  margin: 0 auto;
  width: 300px;
}

@media (min-width: 760px) {
  .aboutMe {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    height: 30vh;
    align-items: center;
  }

  .aboutMe-text {
    margin: 0;
    width: 430px;
  }
}

@media (min-width: 1024px) {
  .aboutMe-text {
    margin: 0;
    width: 560px;
  }
}
