.divLogin {
    height: 77vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.loginButton {
    border-radius: 5px !important;
    transition: all ease 1s !important;
    margin-top: 15px !important;
}

.loginButton:hover {
    transform: translateY(-10px);
    border-radius: 10px !important;
}
