.elemento-contacto {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}


.verContactos {
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}