/* Footer */

img {
  width: 100%;
}

footer {
  text-align: center;
  border-top: 5px solid black;
  padding: 1rem;
  margin-top: 1rem;
  color: #320b0c;
  align-items: center;
  background-color: #320b0c;
}

footer p {
  color: #c2c1c2;
  margin: 0;
}

.ft1-p1 {
  color: #c2c1c2;
  font-size: 14px;
}

.ft1-p2 {
  color: #c2c1c2;
  font-size: 12px;
}

.ft1-p3 {
  font-size: 10px;
}

.ft-img figure {
  width: 95px;
  margin: 0 auto;
}

.icon {
  color: rgb(253, 253, 253);
}
